# Arquivo obrigatório para o Streamlit saber quais bibliotecas instalar
# packages arranged to optimize Streamlit Cloud build caching
streamlit
langchain==0.1.16
#langchain-community
langchain-community==0.0.30
langchain-openai 
#langchain-core
langchain-huggingface
faiss-cpu
#sentence-transformers
torch==2.2.2
sentence-transformers==2.2.2
pypdf
python-dotenv
#hf_xet
#huggingface_hub[hf_xet]
huggingface_hub
